<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="testtmpdb"
			 connectionString="Server=.\SQLEXPRESS;Database=tempdb;Trusted_Connection=True;MultipleActiveResultSets=true;"/>
		<add name="dev_warehouse"
			 connectionString="Server=.\SQLEXPRESS;Database=dev_warehouse;Trusted_Connection=True;MultipleActiveResultSets=true;"/>
	</connectionStrings>
</configuration>